.uiIconMenuGrow {
    transform-origin: bottom !important;
}

.uiIconMenuContainer {
    background: var(--drawer-hover-card) !important;
    border: 1px solid var(--color-card-stroke) !important;
    border-radius: 16px !important;
    color: var(--color-primary) !important;
    margin-left: 6px !important;
    margin-right: 6px !important;
    backdrop-filter: blur(var(--drawer-hover-card-background-blur)) !important;
    box-shadow: var(--drawer-hover-card-shadow) !important;
    margin:0 !important;
}

.uiIconMenuList {
    padding-top: 16px;
    padding-bottom: 16px;
}

.uiIconMenuListItem {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-left: 4px;
    margin-right: 4px;
    transition: margin-left 0.3s ease-in-out;
}

.uiIconMenuListItem:hover {
    background: var(--color-white-secondary) !important;
    border: 1px solid var(--color-card-stroke);
    border-radius: 14px;
    padding-left: 20px;
    margin-left: 6px;
    margin-right: 6px;
    transition: margin-left 0.3s ease-in-out;
}

.uiIconMenuListItemIcon {
    color: var(--color-primary) !important;
    min-width: 0 !important;
    margin-right: 8px;
}


.uiIconMenuListItemText >* {
    text-decoration: dashed !important;
    color: var(--color-primary) !important;
    font-weight: 600 !important;
}

.uiIconMenuListItemStateDefault {
    color: var(--color-primary) !important;
}

.uiIconMenuListItemStateDanger {
    color: var(--color-danger) !important;
}
