.side-image-holder {
    max-height: 98vh;
    max-width: 98vw;
    position: relative;
}

.side-image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.side-image-holder-sm {
    max-height: 16vh;
    max-width: 98vw;
    position: relative;
}

.side-image-holder-sm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.side-image-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    --padding-side-image-content: 64px;
}

.side-image-content-sm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 899px) {
    .side-image-holder {
        display: none !important;
    }
    .side-image-content {
        display: none !important;
    }
}

@media (min-width: 899px) {
    .side-image-holder-sm {
        display: none !important;
    }
    .side-image-content-sm {
        display: none !important;
    }
}
/* 
@media (min-width: 899px) {
    .side-image-holder-sm {
        display: none !important;
    }
    .side-image-content-sm {
        display: none !important;
    }
} */

.side-image-content-top img {
    width: 196px;
    padding-top: var(--padding-side-image-content);
    padding-left: var(--padding-side-image-content);
}

.side-image-content-top-sm img {
    width: 196px;
    padding-top: var(--padding-side-image-content);
}

.side-image-content-top-text {
    color: var(--background-color);
    padding-left: var(--padding-side-image-content);
}

.side-image-content-top-text-sm {
    color: var(--background-color);
    text-align: center;
    margin-left: -12px !important;
}

.side-image-content-bottom {
    width: 100%;
}

.side-image-content-bottom-text {
    float: right;
    text-align: right;
    width: 64%;
    padding-bottom: var(--padding-side-image-content);
    padding-right: var(--padding-side-image-content);
    font-family: "Open Sans" !important;
    font-weight: 400 !important;
    color: var(--background-color);
}

.login-content-holder {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: var(--padding-side-image-content);
}

.login-content {
    width: 64%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 899px) {
    .login-content {
        width: 72%;
    }
}

.login-content-header-form {
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 899px) {
    .login-content-header-form {
        padding-top: var(--padding-side-image-content);
        justify-content: flex-start;
        align-items: center;
    }
}
.login-content-header {
    justify-content: center;
    align-items: center;
}

.login-content-title {
    color: var(--primary-color);
}

.login-content-main-subtitle {
    text-align: center;
}

.login-content-terms {
    width: 56%;
    text-align: center;
}

.login-form-button-icon {
    width: 24px;
}
