.uiDrawerOpenButton {
    width: fit-content !important;
    height: fit-content !important;
}

.uiDrawerCloseButton {
    display: none !important;
}

.uiDrawerLogoContainer {
    padding: 32px 20px !important;
    padding-bottom: 18px !important;
    display: inline-flex;
    min-height: fit-content !important;
}

.uiDrawerLogo {
    max-height: 24px;
}

.uiDrawerStack {
    height: 100%;
}

.uiDrawerListItem {
    display: block;
}

.uiDrawerListItemIcon {
    color: var(--color-text-secondary) !important;
    min-width: 0 !important;
    justify-content: center;
    margin-right: 8px;
}

.uiDrawerListItemIcon>* {
    stroke-width: 1;
}

.uiDrawerListItemButton {
    min-height: 48px !important;
    padding-left: 20px !important;
    justify-content: initial !important;
    margin-left: 0px !important;
    transition: margin-left 0.3s ease-in-out !important ;
}

.uiDrawerListItemButton:hover {
    background: var(--drawer-hover-card) !important;
    border: 1px solid var(--color-card-stroke);
    border-radius: 16px;
    color: var(--color-primary) !important;
    margin-left: 6px !important;
    margin-right: 6px;
    transition: margin-left 0.2s ease-in-out;
    backdrop-filter: blur(var(--drawer-hover-card-background-blur));
    box-shadow: var(--drawer-hover-card-shadow);
}

.uiDrawerListItemButton:hover .uiDrawerListItemText>* {
    color: var(--color-primary) !important;
    font-weight: 500;
}

.uiDrawerListItemButton:hover .uiDrawerListItemIcon {
    color: var(--color-primary) !important;
    font-weight: 500;
}

.uiDrawerListItemButton:hover .uiDrawerListItemIcon > * {
    stroke-width: 1.5;
}

.uiDrawerUserDetails {
    padding: 20px !important;
    margin-left: 0px !important;
    transition: margin-left 0.2s ease-in-out !important;
}

.uiDrawerUsername {
    font-weight: 500 !important;
}

.uiDrawerUserDetails:hover {
    background: var(--drawer-hover-card) !important;
    border: 1px solid var(--color-card-stroke);
    border-radius: 100px;
    color: var(--color-primary) !important;
    transition: margin-left 0.2s ease-in-out !important;
    backdrop-filter: blur(var(--drawer-hover-card-background-blur));
    box-shadow: var(--drawer-hover-card-shadow) !important;
    margin: 12px 6px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    cursor: pointer;
}

.uiDrawerUserDetailsContainer {
    width: 100%;
}

.uiDrawerUserDetails:hover .uiDrawerUsername{
    color: var(--color-primary) !important;
    font-weight: 500;
}

.uiDrawerUserDetails:hover .uiDrawerEmail{
    color: var(--color-primary) !important;
}

@media only screen and (max-width: 768px) and (min-width: 468px) {
    .uiDrawerLogoContainer {
        display: flex;
        justify-content: center;
    }
    
    .uiDrawerListItemText {
        display: none;
    }

    .uiDrawerListItemButton {
        padding-left: 18px !important;
    }

    .uiDrawerListItemButton {
        display: flex !important;
        justify-content: center !important;
        padding-left: 16px !important;
    }

    .uiDrawerListItemIcon {
        margin-right: 0px !important;
    }

    .uiDrawerUserDetails {
        justify-content: center;
        padding-left: 0px !important;
        padding-right: 0px !important;
        min-width: fit-content !important;
    }

    .uiDrawerUserDetailsContainer {
        justify-content: center;
    }

    .uiDrawerUserDetailsAvatar {
        max-height: 36px;
        max-width: 36px;
    }

    .uiDrawerUserDetailsTextContainer {
        display: none !important;
    }

    .uiDrawerUserDetails:hover {
        margin: 12px 2px !important;
    }
}

@media screen and (max-width: 468px) {
    .uiDrawerCloseButton {
        display: inline-flex !important;
    }
}
