.subSectionCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.subSectionCard {
    min-width: 300px;
}

@media screen and (max-width: 468px) {
    .subSectionCard {
        min-width: 270px;
    }
}
