.subSectionCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.subSectionListCardImage {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 4px;
}

.subSectionCard {
    width: 100%;
    min-width: 300px;
    display: flex;
}

.subSectionCardContent {
    height: auto;
    width: 100%;
}

.errorText {
    color: var(--color-danger) !important;
}

.subSectionCardListContainer {
    height: 100%;
}

@media screen and (max-width: 468px) {
    .subSectionCard {
        min-width: 270px;
    }
}
