.subSectionLayout {
    overflow: hidden;
    position: relative;
}

.subSectionLayoutTitle {
    font-size: 20px;
    font-weight: 600;
}

.subSectionMotionLayoutContainer {
    display: flex;
    position: relative;
    cursor: grab;
}

.subSectionLayoutContent {
    cursor: grab;
    display: flex;
    width: 100%;
}

.subSectionGrid {
    width: 100%;
}

@media screen and (max-width: 468px) {
    .subSectionLayoutContent {
        width: 96vw;
    }

    .subSectionGrid {
        width: 96vw;
        min-width: 100vw;
    }
}
