:root {
	background-color: #FDFDFF;
	height: fit-content;
	width: fit-content;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--primary-color: #4B6D9B;
	--background-color: #FDFDFF
}

a {
	color: var(--primary-color);
}
